name: Continuous Deployment Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    name: "Build and Test"
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      BATECT_CACHE_TYPE: directory
      BATECT_ENABLE_TELEMETRY: true
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v4.3.0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.305'

      - name: Validate Batect wrapper scripts
        uses: batect/batect-wrapper-validation-action@v0.4.0

      - name: Cache Batect
        uses: actions/cache@v4.2.4
        with:
          path: .batect/caches
          key: batect-${{ hashFiles('batect') }}

      - name: dotnet test
        run: ./batect app:test:unit

      - name: API tests (Postman)
        run: ./batect app:test:api

      - name: dotnet publish
        run: ./batect app:build
