name: batect lint:dotnet:architecture
on: [pull_request]
jobs:
  architecture:
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      BATECT_CACHE_TYPE: directory
      BATECT_ENABLE_TELEMETRY: true
      
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Validate Batect wrapper scripts
        uses: batect/batect-wrapper-validation-action@v0.4.0

      - name: Cache Batect
        uses: actions/cache@v5.0.1
        with:
          path: .batect/caches
          key: batect-${{ hashFiles('batect') }}

      - name: batect lint:dotnet:architecture
        run: ./batect lint:dotnet:architecture
